<table>
  <tr>
    <td>会社名</td>
    <td>投資金額合計</td>
  </tr>
  <% @candidates.each do |candidate| %>
    <tr>
      <th><%= @candidates.find_by(name: candidate.name).name %></th>
      <th><%= @candidates.find_by(name: candidate.name).money %></th>
    </tr>
  <% end %>
</table>
