<table>
  <tr>
    <td>会社名</td>
    <td>投資金額合計</td>
  </tr>
  <% @candidates.each do |candidate| %>
  <tr>
    <th><%= candidate.name %></th>
    <th><%= candidate.money %></th>
  </tr>
  <% end %>
</table>
