<h1>投票フォーム</h1>
<p>投資していただきありがとうございました。</p>
<p>次に、自分が一番働きたいと思った会社を1つ選び、1票を投じてください！</p>

<%= form_for(@like) do |f| %>
    <%= f.collection_select :candidate,Candidate.all,:id, :name %>
  <%= f.submit "投票する", class: "btn btn-primary"%>
<% end %>