<h1>投資フォーム</h1>
<p>みなさんお疲れ様でした！<br>
二つの観点から、各チームの発表を評価していただきたいと思います。<br>
一つ目は、投資家目線で。こんな事業があったら大きくなりそう、実現してほしい等々、自分が100万円持ってたら投資したくなるところに投資してください。<br>
二つ目は、働く人目線で。どのチームのサービスに携わりたいか、そこで働きたいと思えるか、という目線で投票してください。<br>
ではまずは奨学生番号をハイフン抜きで半角数字で入力して下さい</p>
<p>(ex)２０１４-２０２４ -> 20142024</p>
<%= form_for(:session, url:users_path) do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
      <%= f.submit "次へ進む", class: "btn btn-primary" %>
<% end %>