<h1>投資フォーム</h1>
<p>みなさんお疲れ様でした！<br>
それでは、投票の時間です！<br>
実際にそういう企業ができてほしい、そういう働き方にあこがれる、自分の将来に影響を与えた、など、そういった観点から、投票をしてください。<br>
ではまずは奨学生番号をハイフン抜きで半角数字で入力して下さい</p>
<p>(ex)２０１４-２０２４ -> 20142024</p>
<%= form_for(:session, url:users_path) do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
      <%= f.submit "次へ進む", class: "btn btn-primary" %>
<% end %>