<h1>投資フォーム</h1>
<p>まずは奨学生番号をハイフン抜きで半角数字で入力して下さい</p>
<p>(ex)２０１４-２０２４ -> 20142024</p>
<%= form_for(@user) do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
      <%= f.submit "次へ進む", class: "btn btn-primary" %>
<% end %>