<h1>投資金額一覧</h1>
<table style="text-align:center;">
    <tr>
      <th>名前</th>
      <th>獲得額</th>
    </tr>
    <% @candidates.each do |candidate| %>
    <tr>
      <td><%= candidate.name %></td>
      <td><%= candidate.money %></td>
    </tr>
    <% end %>
</table>