<header>
     <% if !current_user.blank?&&current_user.admin == true %>
      <ul>
        <li class="header-left">管理者メニュー</li>
        <li class="header-right"><%= link_to "投資者一覧", users_path %></li>
        <li class="header-right"><%= link_to "投資先一覧", candidates_path %></li>
        <li class="header-right"><%= link_to "管理者一覧", admin_users_path %></li>
      </ul>
    <% end %>
</header><br>